html, body {  margin : 0; padding : 0; width : 100%;height : 100%; font-size : 1em;font-family : arial;}
	 

a:link {color: #a02c2c ; 
       text-decoration: none;
       font-family:"Ume P Gothic";
}
				
a:visited {color: #a02c2c; }
a:hover { color:#808080 }
a:active {color : #ffffff;}

a img{border: none; } 			
img	{border: none; } 	
				
ul { list-style-type:none; }
div, ul, img {margin:0; padding:0;}
.clr{clear:both;}
.visib_hide{visibility: hidden;}
.dispnone{display:none;}
.vrainone{display:none;}
.float{float:left;}
.pointeur{cursor: pointer;}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*******************************************
GENERAL
***********************************************/
h1 { font-family: "Ume P Gothic"; color:#a02c2c; margin:0; font-size:2em; text-transform:uppercase;}
h2 { font-family: "Ume P Gothic"; text-transform:uppercase; color:#453f31; margin:0 auto; text-align: center; font-size:1em;}
h3 {font-family:"Ume P Gothic"; font-size:0.7em; color:#a02c2c; margin: 0 ; padding:0;  text-align: center; vertical-align:center; margin:auto; text-transform:uppercase;}
h4{color:#808080; font-size:1.8em; font-family:"Ume P Gothic"; text-transform:uppercase;}

#haut{background-color:#453f31; position:fixed; top :0; left:0; width:100%;}
#logo{ padding:0 5px;}
#cadre {margin-left:0; display:block; width:100%;}
.page{clear:both;}


.titre_bloc{background:url(../images/ascii_frise.png) ; width:100%; padding:10px 0;}
.titre_bloc h1{ padding-top:10px;color:#1c1a14; padding-right:10px; margin: 0;}

#endev{position:fixed; top:0; left:0;}

#gpetext{margin:0;}

/**STYLE ACCUEIL*/	
#accueil{padding-top:200px; width:100%; background: url(../images/poupeerusse_mobile.jpg) center bottom no-repeat;}
#paratexte { margin: 0; padding:0;}
#paratexte p{ background-color:#a02c2c; color:#fff; font-size:1.2em; text-align:center; margin:0 auto; display:inline-block;}	
#paratexte h1{ color:#fff; font-size:3em; background-color:#a02c2c; display:inline-block;margin:0;}	
#paratexte #guillemet{float:right; margin-top:10px;}
/** MENU*/

#nav {background-color:#453f31;}
#nav li a:hover{	color:#d8cccc;}

#nav li a{ font-family:"Ume P Gothic";color: #fff ; text-transform:uppercase; padding:5px 10px;}
li.actif {  color:#ffffff; }

	

/**STYLE PROPOS**/
#propos{width:100%; overflow:hidden; font-size:0.8em; padding-top:70px;}
#propos h2 {margin-top:30px;}
#propos h3 {color:#808080; width:80%;}
#ensemble { margin :0 auto; width:95%;}
#profil{ box-shadow: -5px 4px 4px #999999;}
.aprop{ padding:0 2%}
#competence{clear:both;margin:0px auto;width:90%;padding:30px 0;}	
#comptitre {margin:0 auto; text-align:center;}	
#competence h2{ text-align:center; font-size:2em;margin:40px 0; display:inline;}
#competence span {font-size:1em; line-height:6em; color:#999999; display:block; width:100%;}
.competence{ color:#000;text-align:center; }
.competence p{margin:10px auto;}
.competence img{background:url(../images/ascii_frise.png) #b6161b;border-radius:5px; padding:25px 95px;}
.competence h5{text-transform:uppercase; text-align:center;font-size:1.2em; font-family:"Ume P Gothic"; margin:0;padding-top:25px;
					background:url(../images/competence_fleche.png) top center no-repeat #ffffff;}		

.icon-paperplane:before {	content: "\e600"; }
.icon-lab:before {	content: "\e601"; }
.icon-seo:before {	content: "\e609"; }

#propos h1, #contact h1 {background-color:#ffffff; display:inline;line-height:2em; text-align:center;}




/**STYLE PORTO**/
#oiseaux {background: url(../images/oiseaux_mobile.jpg) center bottom no-repeat; overflow:hidden;margin-top:30px;}
#travaux {display:block; padding-top:50px;}
#travaux .cadre_ascii{padding-top:15px;}

#travaux h3 {font-family:"Ume P Gothic"; color:#fff; font-size:2em; text-transform:uppercase; text-align:left; padding:0;margin:0;}
#travaux h4 { padding:0;margin:0;}
.travail{ padding:0; }
.travail img{border:3px solid #1c1a14; width:95%; margin:0 auto;}
.topo { font-size : 0.8em; padding:10px; color:#808080;margin-left:10px;}
.topo a {text-align:center; display:inline-block; font-size : 1.1em; color:#ffffff;}/* display:block; margin:0 auto;}*/
.travail .bord_img { margin:5px 0 0; width:95%; margin:0 auto;}

#porto{background-color:#453f31;padding-top:70px;}
#porto h1 { display:inline; line-height:100px;padding-top:10px;color:#fff;}


 /**STYLE CONTACT*/
#contact{padding:70px 0;}

#coord{ margin: 60px auto;}
#coord #infocontact img {padding:0 5px;}
#coord #infocontact a {padding-bottom: 5px;}
#contact form {color:#808080; margin:20px auto;}
#contact form input, #contact form #message {width:90%;font-size:1.1em;color:#808080; margin:5px auto; font-family:"Ume P Gothic", "DejaVu Sans";
				padding:20px 10px; background-color:#eeeeee; border:none; border-radius:3px;}
 #contact form #message {}
 #contact form div p {font-style:italic; color:#000; font-size:0.9em;}
#contact form span.messerreur {visibility:hidden; color:#808080; font-style:italic; font-size: 0.8em; display:block;}
#contact form label {padding-left:10px; font-size:0.9em;}
#contact #valider {background:url(../images/ascii_frise.png) #b6161b;color:#eeeeee; padding:10px 40px; width:50px;}

#contact #premiere {  }



 /* passer tous les éléments de largeur fixe en largeur automatique */
 body, element1, element2 { width: auto; margin: auto; padding: auto;}
 /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
 img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video { max-width: 100%; }
/* conserver le ratio des images et empêcher les débordements de boîtes dûs aux border ou padding */
 img {height: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
 /* gestion des mots longs */
 textarea, table, td, th, code, pre, samp {word-wrap: break-word;} /* césure forcée */
 code, pre, samp {white-space: pre-wrap;} /* passage à la ligne spécifique pour les éléments à châsse fixe */
 /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
 element1, element2 { float: none !important;width: auto !important }
 /* masquer les éléments superflus */
 .hide_mobile {display: none !important;}
 /* Un message personnalisé */
 body:before {content: "Version mobile du site";display: block;color: #777;text-align: center;font-style: italic; }
}
@media screen and (max-width:640px) and (orientation: landscape) {
  body {
   -webkit-text-size-adjust: 70%;
  }

