@import 'playButton';

$mainClr : #a02c2c;
$mainClrTransp :rgba(160, 44, 44, 0.7);

html, body {  margin : 0; padding : 0; width : 100%;height : 100%; font-size : 1em; font-family : arial;}


a:link {color: #a02c2c ;
       text-decoration: none;
       font-family:"Ume P Gothic";
}

a:visited {color: #a02c2c; }
a:hover { color:#808080 }
a:active {color : #ffffff;}

a img{border: none; }
img	{border: none; }

*{box-sizing: border-box;}

ul { list-style-type:none; }
div, ul, img {margin:0; padding:0;}
.clr{clear:both;}
.visib_hide{visibility: hidden;}
.dispnone{display:none;}
.vrainone{display:none;}
.float{float:left;}
.pointeur{cursor: pointer;}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {	content: "\e602"; }
.icon-pause:before {	content: "\e605"; }
.icon-minimise:before {	content: "\e606"; }
/*******************************************
GENERAL
***********************************************/
h1 { font-family: "Ume P Gothic", Gulim, "DejaVu Sans"; color:#a02c2c; margin:15px 0; font-size:3.5em; }
h2 { font-family: "Ume P Gothic", Gulim, "DejaVu Sans"; text-transform:uppercase; color:#453f31; margin:15px auto; text-align: center; }
h3 {font-family:"Ume P Gothic", Gulim,"DejaVu Sans"; font-size:0.9em; padding:0;  text-align: center; vertical-align:middle;
	margin:auto; text-transform:uppercase; color:#808080; width:80%; font-weight:600}
h4{color:#808080; font-size:1.8em; font-family:"Ume P Gothic", Gulim, "DejaVu Sans"; text-transform:uppercase;}

#haut{line-height:90px; background: #150b07; float:left; width:100%; background-color:#2a271e; position:fixed;z-index: 1; top:0}
#logo{float:left; position:fixed; top :0; left:3%; padding:0 5px; }
#cadre {margin-left:0; display:block; width:100%;}
.page{clear:both;}
.frise_petite {background:url(../images/ascii_frisepetite.png)repeat-x; height:30px; width:100%; padding:20px 0;}

#propos h1, #contact h1 {background-color:#ffffff; display:inline;}

.titre_bloc{background:url(../images/ascii_frise.png) ;height:110px; width:100%; }
.titre_bloc h1{ padding-top:10px;color:#1c1a14; padding-right:10px; margin: 0; line-height:110px;}
#ie {border:solid 10px #6c96a0; background-color:#b6cbd8; position:absolute; top:30%; left:25%; width:500px; padding:10px; }
#iebouton{float:right; background-color:#cedce4; padding:5px 10px; cursor: pointer;}

#endev{position:fixed; top:0; left:0;}

#gpetext{margin-top:15px;}


/*************************************************************
* MENU
**************************************************************/
#mobnav {display:none;}

#nav {float:right; background-color:#2a271e;}

#nav li:hover{	color:#d8cccc;			  	/* Fonctionne d�j� sur webkit*/
		    -webkit-transition-property: color;
				-webkit-transition-duration: 1s;

				/* Bient�t support� par Firefox */
        -moz-transition-property: color;
				-moz-transition-duration: 1s;

				/* � et lorsque ce sera standardis� */
				transition-property: color;
				transition-duration: 1s;}

#nav li { font-family:"Ume P Gothic", Gulim, "DejaVu Sans"; float : left; font-size:1.5em; letter-spacing: -0.08em; margin : 0 0 0 25px;
            line-height:90px;cursor: pointer; font-variant: small-caps}
li.actif {	border-radius:13px 13px 13px 0;
			  color:#ffffff; }
#nav li a:hover{border-bottom: solid 2px #808080;}
#nav li span{font-size:1em; color:#a02c2c;}
#nav li#github {line-height:100px; padding-top:20px;}
.rb #nav li#github {padding-top:0px;}
#nav li#github a {width:40px; height:60px; display:block;background:url(../images/github.png) left top no-repeat;font-size: 14px;font-family: arial; letter-spacing: -0.05em;}
.rb #nav li#github a {width:60px; height:60px;
	-webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  // -o-transform: rotate(-90deg);
  transform: rotate(-90deg);}
.ie #nav li#github a {}
#nav li#github a:hover {background:url(../images/github2.png) left top no-repeat; border:none; }
#nav li#drap{padding:15px 0; display:block;line-height:0;  background: url(../images/bulle.png) center bottom no-repeat; width:70px;}
#nav li#drap a{ display:block; background-color: transparent; width:40px; margin:0 auto;}
#nav li#drap a:hover { border:none; opacity:0.9;}
/**************************************
STYLE ACCUEIL
*********************************/
#accueil{margin-top:70px; background: url(../images/poupeerusse.jpg) center center no-repeat;width:100%; height:440px; background-size: cover; overflow:hidden; }
#paratexte { margin: 110px 0 0 5%; float:right; padding:0;}
#paratexte img {display:block;margin: 0;}
#paratexte h1 {  display:block; float:left;background:#a02c2c; color:#fff; font-size:1.5em; text-align:center; margin:0 10px 0 8%; display:inline-block; padding:25px 25px;}
#paratexte span{ text-transform:uppercase; color:#fff; font-size:5em; background:#a02c2c; display:inline-block;margin:10px 0 25px 5%;padding:5px 25px;}
#flechebas {margin:30px auto;width:90px;display:block;}

/************************************
STYLE PROPOS
**********************************/
#propos{width:100%;}
#porto_bottom{background:url(../images/porto_bottom.png) top left no-repeat #ffffff; height:60px;margin-left:80%; clear:both;}
#propos h2 {margin-top:30px;}
#ensemble { margin :0 auto; border-radius:5px; padding:10px 20px; width:95%;}
#profil img{width:26% ;float:left; box-shadow: -5px 4px 4px #999999;margin-top:50px;}
.aprop{width:32%; float:left; margin-top:20px; padding:0 2%}
#competence{clear:both;margin:50px auto;width:90%;padding:30px 0;}
#comptitre {margin:10px auto; text-align:center;}
#comptitre h2{ text-align:center; font-size:3em;margin:40px 0; display:inline;}
#competence span {font-size:1em; line-height:6em; color:#999999; display:inline;padding:0 20px;}
.competence{float:left; width: 33%; color:#000;text-align:center;}
.competence p{ margin:10px 20px;}
.competence .vignette {background:url(../images/ascii_frise.png) #b6161b;border-radius:5px; padding:45px 0;border-right:1px solid #fff;
								color:#fff; font-size:80px; display:inline-block;margin:0 auto 1px; width:80%;}
.icon-paperplane:before {	content: "\e604"; }
.icon-lab:before {	content: "\e602"; }
.icon-seo:before {	content: "\e601"; }
.competence h5{text-transform:uppercase; text-align:center;font-size:1.2em; font-family:"Ume P Gothic", Gulim; margin:0;padding-top:25px;
					background:url(../images/competence_fleche.png) top center no-repeat #ffffff;}
.competence span a{color:#fff; cursor:default;}

.onglet {float:left; height:200px;}
.onglet .titre_comp {float:left;	background-color:#eeeeee; height:200px; border-right:3px solid #fff; cursor: pointer; width:40px;
						word-wrap: break-word;}
.onglet .actif{background-color:#fff;}
.onglet .contenu{float:left; width:500px; height:200px; overflow:hidden;}

/**************************************
STYLE PORTO
*********************************/
#oiseaux {background: url(../images/oiseaux.jpg) center bottom no-repeat;width:100%; height:415px; background-size: cover; overflow:hidden;margin-top:30px;}
#porto_top{background:url(../images/porto_top.png) top left no-repeat #ffffff; width:100%;height:60px;margin-bottom:30px; clear:both;}

#travaux .cadre_ascii{padding-top:15px;}

#travaux h3 {font-family:"Ume P Gothic", Gulim;  font-size:2em; text-transform:uppercase; text-align:left; padding:0;margin:0;}
#travaux h4 { padding:10px 0;margin:0;}
.travail{ padding:0; margin-top:50px; }
.travail img{border:3px solid #1c1a14;}
.ombre{box-shadow: -5px 4px 8px #3f3c31;}
.travail .bord_img {float:left; margin:5px 0 0; position:relative;}

.projet{width:300px;}

#porto{background:url(../images/fondporto.jpg) #453f31; }
.soixantepixel{height:70px; display:block;}
.portodiap {position:relative;}
#porto h1 {background:url(../images/fondporto.jpg) #453f31; display:inline;color:#eeeeee;}
#porto h1 span {color:#a02c2c; line-height:10px;font-size:1.6em;}
#frisedroite{background:url(../images/ascii_frisedte.png) bottom repeat-y; float:right; width:31px; height:980px; margin:0;padding:0;}

.open-slider {width :50px; height:50px; border-radius:5px; background: url(../images/ascii_frise.png) #b6161b; color:white; position:absolute;
				right:5px; bottom:10px; text-align:center; line-height:50px; opacity:0.7; font-size:30px;}
.icon-slider:before {	content: "\e603"; }


/*+++---diaporama NEW---+++*/

    .wrap__slider{
      position:relative;
      width: 95%;
      overflow: hidden;
      margin: 20px auto;
      max-width:1100px;


			.hide-control{
	      display: none;
	    }
      .navigation__list{
        color:#fff;
        float: right;
        background: $mainClrTransp;
        padding:16px 0;
        li{
          float:left;
          display: inline-block;
          &:before{
            content: 'x';
            cursor: pointer;
            padding: 10px;
            opacity:0.6;
          }
          &:after{
            content: '..';
          }
          &.is__active{
            &:before{
              opacity:1;
            }
          }
        }
      }
      .topo-menu{
          background: $mainClr;
          color : #fff;
          display: inline-block;
          float: right;
          span{
            padding:20px;
            line-height: 40px;
            cursor: pointer;
          }
      }

			.slider {
				position:relative;
				transition: all 0.5s;
        display: table;
        table-layout: fixed;
        background: #fff;
        overflow: hidden;

				.slide{
					position: relative;
					height: auto;
					z-index: 1;
		      display: table-cell;
          vertical-align: top;
				}

				.topo{
					float:right;
					font-size : 1em;
					padding: 10px 20px;
					color:#808080;
					width : 30%;
					background-color: #fff;
					z-index:10;
					border-right: solid 0px #a02c2c;
						a {
						 text-align:center;
						 display:inline-block;
						 font-size : 1.1em;
						 color: #fff;
						 background: url('../images/ascii_frise.png')#B6161B;
						  word-break: break-all;
						 margin:20px 0;
						 padding:5px 10px;
					 }
					 ul {
			       line-height: 1.5em;
			     }
				}

				.item{
          background: #fff;
          overflow: hidden;

					img{
			      width:70%;
            position: absolute;
            top:0;
            left:0;
			    }
				}
			}

			.nav-button{
				position: absolute;
				line-height: 55px;
				font-size: 30px;
				text-align: center;
				color: #fff;
				top: 50%;
				left: 0;
				z-index: 4;
				cursor: pointer;
				opacity: .7;
				transition: all 150ms;
				display:none;
        background: $mainClrTransp;
				img{
					width:70%;
				}
				&:hover{
					opacity: 1;
				}
				&.show-button{
		      display:block;
		    }
				&.slider--next{
				  left: auto;
				  right: 0;
				}
			}

    }




 /************************************************
 STYLE CONTACT
 **************************************************/
#contact{padding:100px 0;}

#coord{width :100%; margin: 60px auto;}
#coord #infocontact img {padding:0 5px;}
#coord #infocontact a {padding-bottom: 5px;}
#contact form {color:#808080; margin:20px auto; width:90%; max-width:900px;}
#contact form input, #contact form #message {font-size:1.1em;color:#808080; font-family:"Ume P Gothic", Gulim,"DejaVu Sans";margin-bottom:10px; padding:20px 0px; background-color:#eeeeee; border:none; border-radius:3px; width:100%;}
 #contact form #message {height:125px;}
 #contact form div p {font-style:italic; color:#000; font-size:0.9em;}
#contact form span.messerreur {visibility:hidden; color:#808080; font-style:italic; font-size: 0.8em; display:block;}
#contact form label {padding-left:10px; font-size:0.9em;}
#contact #valider {background:url(../images/ascii_frise.png) #b6161b;color:#eeeeee; line-height:30px;  padding:10px 60px; width:57px;}
#contact .formcolonne {float:left; width:45%;}
#contact #premiere {margin-right:5%;}
.icon-mail:before {	content: "\e602"; }

footer{background: #150b07; padding:25px;} /* url(../images/fond_menu.png) */
footer a {display:inline; text-align:center;}


@media (max-width: 640px) {
	h1 {  font-size:2em; margin:0;}
	h2 { font-size:1em; margin:0 auto;line-height: 1.2em;}
	h3 {font-size:0.7em;  margin: 0 auto; padding:0; line-height: 1.4em;}
	h4{ font-size:1.8em; }
	p {line-height: 1.3em;}
	img {max-width:350px; margin:0 auto; display:block;}

	.titre_bloc{height:auto; padding:10px 0;}
	.titre_bloc h1{ line-height:1em;}

	/**STYLE ACCUEIL*/
	#accueil{height:200px; padding-top:0px; width:100%;position:relative; overflow:visible;}
	#paratexte { margin: 0; padding:0;}
	#paratexte img {display:none;}
	#paratexte p{  font-size:1.2em; margin:60px auto 0; padding:5px 10px; position: absolute; bottom: -20px; left: 0;}
	#paratexte h1{ display:none;}
	#paratexte #guillemet{float:right; margin-top:10px;}
	#haut	{position:relative; line-height:1.8em;}
	#flechebas {    margin: 0; display: block;  visibility: hidden;}

	/** MENU*/
	#mobnav {position:relative;display:block; margin: 15px 3% 15px 20px; width:40px; height:40px; background:url(../images/mobnav.png) no-repeat transparent; float:left;}
	#logo{position:relative; float:left; line-height: 1.8em; padding:0 ;left:auto;}
	#nav {float:none; padding-left:3%; display:none; clear:both; position:absolute; top:70px; z-index: 99;}
	#nav li a:hover{	color:#d8cccc;}
	#nav li a{ padding:5px 30px 5px 10px; color:#fff;}
	#nav li { float : none; margin:0; font-size:1.2em;line-height:1.8em; letter-spacing: 0;}
	#nav li#drap{display:none;}
	#nav li#drap a{ display:none;}

	/**STYLE PROPOS**/
	#propos{width:100%; overflow:hidden; font-size:0.8em; padding-top:0px;}
	#propos h2 {margin-top:30px;}
	#propos h3 { width:80%;}
	#ensemble { margin :0 auto; width:95%; padding:10px 0px; width:95%;}
	#competence{clear:both;margin:0px auto;width:90%;padding:30px 0;}
	#comptitre {margin:0 auto; display:inline-block;}
	#comptitre span{display:inline-block; width:100%;}
	#competence h2{  font-size:2em;margin:40px 0; }
	#competence span {width:100%; font-size:1em; line-height:6em;  display:inline-block;}
	.competence{float:none; width: 100%; }
	.competence p{margin:10px auto;}
	.competence img{ padding:25px 95px;}
	.competence h5{font-size:1.2em; margin:0;}
	.competence .vignette { padding:20px 0px; font-size:80px; width:80%;}

	#propos h1, #contact h1 {display:inline;line-height:2em; text-align:center;}

	#porto_bottom{ height:auto;margin-left:0; }

	#profil img{width:100% ;float:none; box-shadow: -5px 4px 4px #999999;margin-top:0px;}
	.aprop{width:100%; float:none; margin-top:0px;}


	.onglet {float:left; height:200px;}
	.onglet .titre_comp {float:left;	background-color:#eeeeee; height:200px; border-right:3px solid #fff; cursor: pointer; width:40px;
							word-wrap: break-word;}
	.onglet .actif{background-color:#fff;}
	.onglet .contenu{float:left; width:500px; height:200px; overflow:hidden;}
	/**STYLE PORTO**/
	#oiseaux {margin-top:30px;}
	#travaux {display:block; padding:50px 0 0;}
	#travaux .cadre_ascii{padding-top:15px;}

	#travaux h3 { font-size:2em;   padding:0;margin:0;}
	.travail{ padding:0; }
	.travail img{; width:95%; margin:0 auto;}
	.topo { font-size : 0.8em; padding:10px 5%; margin-left:10px; height:auto; width:70%;}
	.topo a {text-align:center; display:inline-block; font-size : 1.1em;}/* display:block; margin:0 auto;}*/
	.travail .bord_img { margin:5px 0 0; width:95%; margin:0 auto;}

	#porto{padding-top:70px;}
	#porto h1 { display:inline; line-height:100px;padding-top:10px;}


	 /**STYLE CONTACT*/
	#contact{padding:70px 0;}

	#coord{ margin: 60px auto;}
	#coord #infocontact img {padding:0 5px;}
	#coord #infocontact a {padding-bottom: 5px;}
	#contact form { margin:20px auto; width:90%;}
	#contact .formcolonne {width:100%;}
	#contact #premiere {    height: auto;}
	#contact form input, #contact form #message {width:100%;font-size:1.1em; margin:5px auto; padding:20px 0px;}
	#contact form div p { font-size:0.9em;}
	#contact form span.messerreur { font-size: 0.8em; }
	#contact form label {padding-left:10px; font-size:0.9em;}
	#contact #valider { padding:10px 50px; width:50px; margin:10px auto; display:block;}

}

@media  (min-width:640px) and (max-width:740px) {
	#logo{position:relative; float:left; line-height: 0; width:200px}
	#nav li {margin: 0px 0px 0px 15px;}
	#nav li#drap {    padding: 15px 0px;    display: block;    line-height: 0;    width: 40px;}
	#comptitre span{display:inline-block; width:100%;}
	#competence h2{  font-size:2em;margin:40px 0; }
	 /**STYLE CONTACT*/
	#contact{padding:70px 0;}

	#coord{ margin: 60px auto;}
	#coord #infocontact img {padding:0 5px;}
	#coord #infocontact a {padding-bottom: 5px;}
	#contact form { margin:20px auto; width:90%;}
	#contact .formcolonne {width:100%;}
	#contact #premiere {    height: auto;}
	#contact form input, #contact form #message {width:100%;font-size:1.1em; margin:5px auto; padding:20px 0px;}
	#contact form div p { font-size:0.9em;}
	#contact form span.messerreur { font-size: 0.8em; }
	#contact form label {padding-left:10px; font-size:0.9em;}
	#contact #valider { padding:10px 50px; width:50px; margin:10px auto; display:block;}
}

@media  (max-width:1200px) {
	.open-slider,
	.fader,
	.diapactif {
		display:none !important;
	}
  .wrap__slider .slider .topo{
    width:40%;
  }
  .wrap__slider .slider  .item img{
    width:60%;
  }
}
@media  (max-width:800px) {
  .wrap__slider .slider  .topo,
  .wrap__slider .slider  .item img{
    width:100%;
    position: relative;
  }
}
